#main{
  display: flex;
  gap: 20px;
}

.page{
  
}
.card{
  border-radius: 10px;
  box-shadow: 2px 10px 10px rgba(0,0,0,0.4);
  border: 1px solid rgba(0, 0, 0, 0.082);
  padding: 20px;
  width: 240px;
}
img{
  border-radius: 50%;
  border: 1px solid;
  object-fit: cover;
}
h2{
  text-align: center;
}
h4{
  margin-left: 20px;
}
button{
  width: 100%;
  padding: 10px;
  background-color: rgb(0, 162, 255);
  border-radius: 5px;
  border: none;
  font-weight: bold;
}